<fieldset id="q1" class="form-field">
    <legend>Vraag 1</legend>
    <p>Wie was je favoriete docent voor de minor?</p>
    <small>Meerdere antwoorden mogelijk</small>
    <div class="form-group">
        <input type="checkbox" name="joost" id="Joost" <%  if(user.joost === 'on'){ %> checked <% } %>>
        <label for="Joost">Joost
        </label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="koop" id="koop" <%   if(user.koop === 'on'){ %> checked <% } %>>
        <label for="koop">Koop
        </label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="vasilis" id="Vasilis" value="VaCss" <%   if(user.vasilis === 'on'){ %>
            checked <% } %>>
        <label for="Vasilis">Vasilis
        </label>
    </div>
</fieldset>