<fieldset id="q3" class="form-field">
    <legend>Vraag 3</legend>
    <p>Wat had in deze minor had je liever anders gezien?</p>


    <label for="feedback">Antwoord:
        <small>Als je het niet weet plaats dan: Geen verbetering</small>
        <textarea name="feedback" id="feedback" cols="30" rows="10"><%= user.feedback%></textarea>
    </label>
</fieldset>