:root {
  --light-green: rgb(17, 163, 17);
  --green: green;
  --darkgreen: rgb(3, 99, 3);
  --green-border: rgb(2, 59, 2);
  --green-shadow: rgb(38, 209, 38);

  --light-orange: rgb(240, 156, 60);
  --orange: rgb(255, 136, 0);
  --dark-orange: rgb(172, 92, 0);
  --orange-border: rgb(119, 64, 0);
  --orange-shadow: rgb(230, 165, 92);
}
*{
  box-sizing: border-box;
}
body {
  font-family: Roboto, Helvetica, "sans-serif";
  background-color: lightslategrey;
  
}
:focus{
  outline-style: double;
  outline-color: #27b3dd;
}
#new:focus + label{
  background-color: #fff;
  color: black;

}
#old:focus + label{
  background-color: #fff;
  color: black;

}
main {
  max-width: 31em;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(214, 222, 255);
  background: linear-gradient(270deg, #27b3dd, #49f337, #e6f337);
  background-size: 600% 600%;
  padding: 1rem;
  animation: gradient-focus 15s ease infinite;
  padding-bottom: 3rem;
  overflow: hidden;
}
@keyframes gradient-focus {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
input[type=checkbox], input[type=radio]{  
  opacity: 0;
}
.button.home:hover{
  background-color: #fff;
  color: black;
  font-weight: bold;
}
.form-group{
  width: 100%;
}
.home progress{
  display: none;
}
.fieldset-container{

  position: relative;
  min-height: 60vh;
}
fieldset{
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
fieldset:focus-within{
  outline: double blue;
}
.fetched{
  position: absolute;
  top: 1rem;
  opacity: 0;
  transform: translateX(35em);
}
.fetched.show{
  transform: translateX(0);
  opacity: 1;
}
.fetched.unshow{
  transform: translateX(-35em);
  opacity: 0;
}
fieldset:target{
  position: absolute;
  top: 1rem;
  opacity: 0;
  transform: translateX(-35em)
}
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin-top: 2rem;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(239, 255, 97, 0.38), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #00b2f1, #01cd82);
    background-position: 0 0 ;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  transition: all 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}
#js-warning {
  background-color: red;
  border-radius: 4px;
  color: #fff;
  max-height: 4em;
}

#js-warning p {
  margin: auto;
  font-size: 0.9rem;
  max-width: 24em;
}
@supports (flex-direction: column) {
  form {
    display: flex;
    flex-direction: column;
  }
  fieldset {
    display: flex;
    flex-wrap: wrap;
  }
}
form {
  position: relative;
  width: 100%;
}
fieldset {
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 30em;
  background-color: rgb(239, 255, 97);
  background: linear-gradient(
      127deg,
      rgba(239, 255, 97, 1),
      rgb(239, 255, 97, 0) 70.71%
    ),
    linear-gradient(217deg, #01cd82, #01cd8200 70.71%),
    linear-gradient(366deg, #00b1f1, #00b1f100 80.71%);
    
    box-shadow: 0px 17px 36px -13px rgba(0,0,0,0.75);
    padding-bottom: 2rem;
}
legend {
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
}
input{
  padding-left: 2rem;
}
.button-container {
  display: flex;
  justify-content: space-around;
}
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  color: rgb(46, 46, 46);
  background-color: rgb(180, 180, 180);
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.25em 2em;
  border-radius: 0.75em;
  margin: auto;
}

.button-back {
  font-weight: 600;
  color: #fff;
  background: var(--light-orange);
  border: 2px solid var(--orange-border);
  border-radius: 0.75em;
  transition: all 150ms cubic-bezier(0, 0, 0.58, 1);
}
.active {
  font-weight: 600;
  color: #fff;
  background: rgb(17, 163, 17);
  border: 2px solid rgb(2, 59, 2);
  border-radius: 0.75em;
  transition: all 150ms cubic-bezier(0, 0, 0.58, 1);
}

@supports (transform-style: preserve-3d) {
  .button-back,
  .active {
    transform-style: preserve-3d;
  }
  .button-back::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark-orange);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--orange-border), 0 0.625em 0 0 var(--orange-shadow);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  .button-back:hover, .button-back:focus {
    background: var(--orange);
    transform: translate(0, 0.25em);
  }
  .button-back:hover::before {
    box-shadow: 0 0 0 2px var(--orange-border), 0 0.5em 0 0 var(--orange-shadow);
    transform: translate3d(0, 0.5em, -1em);
  }
  .button-back:active {
    background: var(--orange);
    transform: translate(0em, 0.75em);
  }
  .button-back:active::before {
    box-shadow: 0 0 0 2px var(--orange-border), 0 0 var(--orange-shadow);
    transform: translate3d(0, 0, -1em);
  }
  
  .active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(3, 99, 3);
    border-radius: inherit;
    box-shadow: 0 0 0 2px rgb(2, 59, 2), 0 0.625em 0 0 rgb(38, 209, 38);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 150ms cubic-bezier(0, 0, 0.58, 1);
    z-index: -1;
  }
  
  .active:hover, .active:focus {
    background: var(--green);
    transform: translate(0, 0.25em);
  }
  .active:hover::before {
    box-shadow: 0 0 0 2px rgb(2, 59, 2), 0 0.5em 0 0 rgb(38, 209, 38);
    transform: translate3d(0, 0.5em, -1em);
  }
  
  .active:active:hover, .active:active:focus {
    background: var(--green);
    transform: translate(0em, 0.75em);
  }
  .button:active::before {
    box-shadow: 0 0 0 2px rgb(2, 59, 2), 0 0 rgb(38, 209, 38);
    transform: translate3d(0, 0, -1em);
  }
}
form a {
  text-decoration: none;
  color: rgb(151, 153, 155);
}
.active {
  color: #fff;
}
fieldset p {
  margin-bottom: 0.2rem;
}
input:invalid ~ .invalid{
  color: red;
  max-height: 2rem;
  opacity: 1;
}
.valid{
  color: greenyellow;
  max-height:0;
  opacity: 0;
}
small {
  transition: all ease 1s;
  margin-bottom: 1rem;
  margin-top: .5rem;
  display: block;
  width: 100%;
}
.form-group {
  margin-bottom: 0.5rem;
  display: block;
}
.form-group input:checked ~ label {
  font-weight: bold;
}
.form-group input[type="checkbox"] ~ label {
  position: absolute;
  left: .5rem;
  padding: .5rem .8rem;

}
.form-group input[type="checkbox"] ~ label::before {
  border: 2px dashed #000;
  border-radius: 50%;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  transition: all 0.1s;
  margin-bottom: -4px;
  margin-right: 10px;
}
.form-group input[type="checkbox"]:checked ~ label::before {
  background-color: #000;
  background: radial-gradient(ellipse, #000, transparent);
  animation:rotate 3s linear infinite;
}
/* #koop{
   position: relative; 
} */

#koop::after{
  display: block;
  content: "";
  width: 4em;
  height: 4em;
  background-image: url(/img/Koop.png), radial-gradient( #f7fcda 20%, #ffffff00 75%,#ffffff00 );
  background-position: center;
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(1em) ;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0;
}
#koop.pos-0:checked::after{
  transform: translateX(-5em) rotate(-90deg);
  z-index: 1;
  opacity: 1;
}
#koop.pos-1:checked::after{
  transform: translateY(5em) rotate(-180deg);
  opacity: 1;
}
#koop.pos-2:checked::after{
  transform: translateX(15em) rotate(90deg);
  opacity: 1;
}
@keyframes rotate{
  to {transform: rotate(360deg)}
}
.hidden {
  opacity: 0;
  position: absolute;
}
.form-group input:focus ~ label {
  outline: double blue 2px;
}
.d-none {
  display: none;
}
form.intro-form {
  z-index: 0;
  opacity: 0;
  max-height: 0;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* form.intro-form{
  opacity: 0;
  position: absolute;
} */
#new:checked + label, #old:checked + label{
  background-color: #fff;
  color: #000;
}
#new:checked ~ form:first-of-type {
  opacity: 1;
  max-height: 20em;
}
#old:checked ~ form:last-of-type {
  opacity: 1;
  max-height: 20em;
}
