<%- include('../partials/head.ejs') %>
<main>
    <form action="/q1" method="POST">
        <fieldset>
            <progress value="0" max="9"></progress>
            <p>Wie was je favoriete docent voor de minor?</p>
            <small>Meerdere antwoorden mogelijk</small>
            <label for="Joost">Joost
                <input type="checkbox" name="favdoc" id="Joost">
            </label>
            <label for="koop">Koop
                <input type="checkbox" name="favdoc" id="koop">
            </label>
            <label for="Vasilis">Vasilis
                <input type="checkbox" name="favdoc" id="Vasilis">
            </label>
            <input type="radio" name="favdoc" id="anders">
            <label for="anders">Anders namelijk
                <input type="text" name="favdoc" id="anders">
            </label>


        </fieldset>
        <button type="submit" value="">Verder</button>
    </form>
    
</main>


<%- include('../partials/footer.ejs') %>