<%- include('../partials/head.ejs') %>
<main>
    <form action="/enquete" method="POST">
        <fieldset>

            <legend>Persoonlijke gegevens</legend>
            <label for="fname">Voornaam:
            <input type="text" name="fname" id="fname" value="">
            </label>
            <label for="lname">Achternaam:
            <input type="text" name="lname" id="lname">
            </label>
            <label for="anon">Ik blijf liever anoniem
            <input type="checkbox" name="anon" id="anon">
            </label>

        </fieldset>
        <button type="submit" value="">Verder</button>
    </form>
</main>


<%- include('../partials/footer.ejs') %>