<%- include('../partials/head.ejs') %>
<main>
    <h1>Welkom bij de progressive enquete!</h1>
    <p>In deze enquete zullen dingen gevraagd worden die betrekking hebben op:</p>
    <p>de MINOR WEB DEVELOPMENT</p>
    <p>Om door te gaan naar de enquete klik <a href="/enquete">hier</a></p>
</main>


<%- include('../partials/footer.ejs') %>