<%- include('../partials/head.ejs') %>
<main>
    <h1>Bedankt voor je deelname!</h1>
    <p>We zullen de resultaten verwerken en binnekort de uitslag posten op:</p>
    <p>de repo van MokerStier</p>
    

</main>


<%- include('../partials/footer.ejs') %>