<%- include('../partials/head-noscript.ejs') %>
<main>
    <input type="hidden" id="state" name="endend">
    <h1>Bedankt voor je deelname!</h1>
    <p>We zullen de resultaten verwerken en binnenkort de uitslag posten op:</p>
    <p>de repo van MokerStier</p>
    

</main>


<%- include('../partials/footer.ejs') %>