<%- include('../partials/head-noscript.ejs') %>
<main>
    <input type="hidden" id="state" name="endend">
    <h1>Bedankt voor je deelname!</h1>

    <section>
        <h2>Resultaten:</h2>
        <p>Favoriete vak: Browser-Technologies</p> 
        <progress value="6" max="9"></progress>
        <p>Favoriete Docent: Koop</p> 
        <progress value="7" max="9"></progress>
    </section>
    
</main>


<%- include('../partials/footer.ejs') %>