<%- include('../partials/head-noscript.ejs') %>
<script src="/js/home.js" defer></script>
<main class="home">
    <h1>Welkom bij de progressive enquete!</h1>
    <p>In deze enquete zullen dingen gevraagd worden die betrekking hebben op:</p>
    <p>de MINOR WEB DEVELOPMENT</p>
    <progress></progress>
    <input type="radio" name="user" id="new">
    <label class="button home" for="new">Nieuwe gebruiker</label>
    <form class="intro-form" action="/vraag" method="post">
        
    <input type="hidden" id="state" name="state" value="intro">
    
    <fieldset required class="intro-new">    
        <legend>Nieuwe gebruiker</legend>
        <p>Voer je studentnummer in om door te gaan</p>
        <small>Maak je geen zorgen als je wilt kun je ervoor kiezen om anoniem te blijven in de volgende stap.</small>
        <label for="uuid">Studentnummer
            <input type="text"  min="1" max="9999" pattern="[0-9]{4}" name="uuid" id="uuid" required>
            <small class="error-msg invalid">Studentnummer bestaat uit 4 cijfers!</small>
        </label>
        <button class="button" type="submit">Volgende</button>
    </fieldset>
    
    </form>

    <input type="radio" name="user" id="old">   
    <label class="button home" for="old">enquete hervatten</label>
    <form class="intro-form" action="/enquete" method="post">

    <fieldset required class="intro-old">
        <legend>Verder gaan waar ik was</legend>
        <p>Ik wil mijn enquete afmaken</p>
        <small></small>
        <label for="return-uuid">Studentnummer
            <input type="text" min="1" max="9999" pattern="[0-9]{4}" name="uuid" id="return-uuid" required>
            <small class="error-msg invalid">Studentnummer bestaat uit 4 cijfers!</small>
        </label>
        <button class="button " type="submit">Volgende</button>
    </fieldset>
    
    </form>

</main>


<%- include('../partials/footer.ejs') %>